@import '~bootstrap/scss/bootstrap';
:root {
  --primary-color: rgba(204, 0, 51, 0.75);
  --overlay-color: rgba(0, 0, 0, 0.77);
  --secondary-color: rgba(204,0,51, 1);
  --menu-speed: 0.75s;
  --gradient-color: linear-gradient(95deg, rgb(0, 0, 0),rgba(0, 0, 0, .9),rgba(204,0,51, 1), rgba(255, 0, 75, 1))
}
// .css-transitions-only-after-page-load * {
//   -webkit-transition: none !important;
//   -moz-transition: none !important;
//   -ms-transition: none !important;
//   -o-transition: none !important;
//   transition: none !important;
// }


body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  background-image: var(--gradient-color);
  background-size: 200%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  animation: bg-animation 27s infinite alternate-reverse;
  z-index: -5;
}

#sign-up-view,
#deck-view,
#my-decks-view,
#update-deck-view,
#change-password-view {
display: none;
}


#start-view,
#sign-up-view[style*="display: block"],
#deck-view[style*="display: block"],
#my-decks-view[style*="display: block"],
#update-deck-view[style*="display: block"],
#change-password-view[style*="display: block"] {
position: relative;
top: 25%;
display:flex;
align-content: center;
justify-content: center;
width: 100%;
padding:0;
margin: 0 auto;
}

#top-bar {
  position: fixed;
  top:0%;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  max-height: 70px;
  width: 100vw;
  background: white;
}
.placeHolder {
  position: static;
  justify-content: center;
  align-items: center;
  min-height: 2vh;
  max-height: 4vh;
  width: 100vw;
}
.title {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 10px 0px 2px 10px;
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

#aIcon {
  color: var(--secondary-color);
  }

// messages styling
#messages {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  color: black;
  height: 7vh;
  width: 50%;
  margin: 0 auto;
  z-index: 4;
}

#failMessage {
  color:rgba(204,0,51, .95)
}

#deck-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
}

// form styling
.center {

  width: 450px;
  min-width: fit-content;
  // max-height: 50vh;
  // min-height: 10vh;
  background: white;
  border-radius: 7px;
  margin: 0 auto;
}
.deck {
  flex-basis: 450px;
  max-width: 25vw;
  min-width: fit-content;
  max-height: 50vh;
  min-height: 10vh;
  background: white;
  border-radius: 7px;
  margin: 4px;
  padding: 5px;
}



// #change-password-view {
//   position: absolute;
//   top: 57%;
//   left: 50%;
//   transform: translate(-50%, -25%);
//   max-width: 400px;
//   background: white;
//   border-radius: 7px;
// }

.center h1{
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 10px 0;
  // border-bottom: 1px solid silver;
}
.deck h1{
  text-transform: uppercase;
  text-align: center;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
}

#deck-view .txt_field input,
#my-decks-view .txt_field input,
#update-deck-view.txt_field input {
  text-transform: uppercase;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translate&(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt_field .line::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, rgb(0,0,0), rgb(204, 0, 51));
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label,
.txt_field input:disabled ~ label {
  top: -5px;
  color: rgb(0, 0, 0);
  transition: .5s;
}
.txt_field input:focus ~ label .redIcon,
.txt_field input:valid ~ label .redIcon,
.txt_field input:disabled ~ label .redIcon {
  top: -5px;
  color: rgb(204, 0, 51);
  transition: 2s;

}
.txt_field input:focus ~ .line::before,
.txt_field input:valid ~ .line::before {
  width: 100%;
}

.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass:hover {
  text-decoration:  underline;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 2px solid;
  background-image: var(--gradient-color); ;
  background-size: 200%;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  cursor: pointer;
  outline: none;
  animation: bg-animation 25s infinite alternate-reverse;
}
input[type="submit"]:hover {
  border-color: rgba(204, 0, 51, .7);
  transition: .5s;
}

@keyframes bg-animation {
  0%{ background-position: left; }
  100%{ background-position: right; }
}

.nav_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.nav_link span{
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
}
.nav_link span:hover {
  text-decoration: underline;
}

// decks view css
.editIcon {
  font-size: 12px;
  text-decoration: none;
}

.deckNameButton {
  background: none!important;
  border: none;
  padding: 2!important;
  color: black;
  cursor: pointer;
  font-size: 24px;
  text-decoration: underline;
  text-transform: uppercase;
}

#aceOfSpades {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  height: 507px;
  width: 327px;
  border-radius: 7%;
}
span .A {display: block;}

.shadow {box-shadow: 2px 4px rgba (38, 12, 12, .5);}
.rounded{ border-radius: 10px;}
.black {color: black;}
.red {color: #cc0033;}

.top {
  font-size: 25px;
  position: fixed;
  top: 2%;
  left: 5%
}
.bottom {
  transform: rotate(180deg);
  font-size: 25px;
  position: fixed;
  bottom: 2%;
  right: 5%
}

#noDeckSpade {
  position: fixed;
  font-size: 177px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#noDecks {
  position: fixed;
  font-size: 27px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size:27px;
  z-index: -2;
}
#createNewDeckButton {
  position: fixed;
  top: 67%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
}
#createNewDeckButton:hover {
  text-decoration: underline;
}


// Menu styling
.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 5;
  box-shadow: 4px 2px rgba (38, 12, 12, .6);
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}


.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 9;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.menu-wrap .hamburger > div:after {
  top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.menu-wrap .toggler:hover + .hamburger > div {
  transform: rotate(180deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(360deg);
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 10%;
  width: 100%;
  height: 100vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all .04s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 20vw;
  max-height: 50vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
/* show menu */
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scaleX(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
  z-index: 8;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}
/* --- */

// makes a button look like a link
.startView button,
.signUpView button {
  background: none!important;
  border: none;
  padding: 2!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
